$screen-mobile-max: 700px;
$screen-tablet-max: 1024px;
$screen-desktop-max: 1440px;
$clear-bg-color: #FFFFFF;
$bg-color: #EFEFEF;

@mixin md {
    @media only screen and (min-width: $screen-mobile-max) {
        @content;
        font-size: 0.85rem;
    }
}

@mixin lg {
    @media only screen and (min-width: $screen-tablet-max) {
        @content;
        font-size: 0.75rem;
    }
}

@mixin xl {
    @media only screen and (min-width: $screen-desktop-max) {
        @content;
    }
}